In [567]:
import pandas as pd

In [568]:
df = pd.read_csv("201001_202112_월별_시도별_주택매매가격변동률.csv",encoding="cp949")
df

,행정구역별(1),2010.01,2010.02,2010.03,2010.04,2010.05,2010.06,2010.07,2010.08,2010.09,...,2021.03,2021.04,2021.05,2021.06,2021.07,2021.08,2021.09,2021.1,2021.11,2021.12
0,전국,0.13,0.26,0.22,0.17,0.02,0,-0.16,-0.1,0.07,...,0.74,0.71,0.70,1.15,0.85,0.96,0.92,0.88,0.63,0.29
1,서울특별시,0.13,0.23,0.07,-0.02,-0.25,-0.24,-0.34,-0.38,-0.19,...,0.38,0.35,0.40,0.72,0.60,0.68,0.72,0.71,0.55,0.26
2,부산광역시,0.36,0.76,0.95,1.13,0.91,0.72,0.53,0.49,0.7,...,0.66,0.57,0.80,1.47,0.85,0.99,0.87,0.90,0.65,0.25
3,대구광역시,0.09,0.11,0.03,0.2,0.09,-0.02,-0.02,0.07,0.13,...,1.11,0.82,0.79,0.84,0.34,0.27,0.15,0.09,0.00,-0.10
4,인천광역시,0.05,0.02,0.03,-0.16,-0.24,-0.21,-0.42,-0.28,-0.3,...,1.31,1.47,1.42,2.12,1.33,1.38,1.46,1.50,0.94,0.49
5,광주광역시,0.07,0.09,-0.01,0.08,0.21,-0.02,-0.07,0.06,0.13,...,0.34,0.45,0.47,0.97,0.73,0.85,0.81,0.95,0.77,0.52
6,대전광역시,0.63,0.93,0.5,0.62,0.68,0.28,0.18,0.47,0.44,...,1.18,1.03,0.94,1.13,0.82,1.05,0.84,0.87,0.57,0.15
7,울산광역시,0.24,0.41,0.26,0.36,0.42,0.13,0.13,0.03,0.19,...,0.47,0.37,0.34,0.66,0.72,0.77,0.70,0.69,0.50,0.27
8,세종특별자치시,-,-,-,-,-,-,-,-,-,...,0.68,0.45,0.22,-0.07,-0.13,-0.19,-0.08,-0.11,-0.67,-1.74
9,경기도,-0.06,0.04,0.01,-0.11,-0.48,-0.46,-0.71,-0.49,-0.17,...,1.28,1.17,1.04,1.92,1.52,1.68,1.55,1.33,0.86,0.34
10,강원도,0.13,0.22,0.31,0.19,0.06,0.1,0.29,0.19,-0.04,...,0.50,0.49,0.40,0.58,0.49,0.59,0.59,0.58,0.56,0.37
11,충청북도,0.14,0.38,0.38,0.4,0.42,0.59,0.3,0.27,0.48,...,0.56,0.61,0.61,0.94,0.74,0.90,0.91,1.01,0.74,0.39
12,충청남도,0.03,0.12,0.12,-0.14,0.13,0.07,-0.04,-0.1,0.08,...,0.54,0.63,0.57,0.70,0.63,0.75,0.75,0.89,0.68,0.43
13,전라북도,0.28,0.54,0.52,0.47,0.48,0.84,0.92,0.38,0.59,...,0.17,0.28,0.32,0.63,0.62,0.65,0.69,0.60,0.52,0.31
14,전라남도,0.31,0.42,0.7,0.4,0.33,0.11,0.14,0.09,0.22,...,0.18,0.23,0.25,0.42,0.33,0.37,0.39,0.28,0.24,0.18
15,경상북도,-0.01,0.02,0.01,-0.05,-0.09,-0.22,-0.31,-0.14,-0.01,...,0.44,0.43,0.50,0.57,0.42,0.50,0.40,0.46,0.37,0.28
16,경상남도,0.19,0.55,0.7,0.66,0.91,0.99,0.52,0.72,0.71,...,0.33,0.41,0.41,0.55,0.42,0.59,0.62,0.81,0.74,0.35
17,제주특별자치도,0.64,0.26,0.15,0.24,0.28,1.18,0.45,0.09,0.04,...,0.10,0.18,0.59,1.34,0.73,0.96,0.85,0.75,0.41,0.21

In [569]:
df = df.drop([0],axis=0)
df = df.reset_index()

In [570]:
df

,index,행정구역별(1),2010.01,2010.02,2010.03,2010.04,2010.05,2010.06,2010.07,2010.08,...,2021.03,2021.04,2021.05,2021.06,2021.07,2021.08,2021.09,2021.1,2021.11,2021.12
0,1,서울특별시,0.13,0.23,0.07,-0.02,-0.25,-0.24,-0.34,-0.38,...,0.38,0.35,0.40,0.72,0.60,0.68,0.72,0.71,0.55,0.26
1,2,부산광역시,0.36,0.76,0.95,1.13,0.91,0.72,0.53,0.49,...,0.66,0.57,0.80,1.47,0.85,0.99,0.87,0.90,0.65,0.25
2,3,대구광역시,0.09,0.11,0.03,0.2,0.09,-0.02,-0.02,0.07,...,1.11,0.82,0.79,0.84,0.34,0.27,0.15,0.09,0.00,-0.10
3,4,인천광역시,0.05,0.02,0.03,-0.16,-0.24,-0.21,-0.42,-0.28,...,1.31,1.47,1.42,2.12,1.33,1.38,1.46,1.50,0.94,0.49
4,5,광주광역시,0.07,0.09,-0.01,0.08,0.21,-0.02,-0.07,0.06,...,0.34,0.45,0.47,0.97,0.73,0.85,0.81,0.95,0.77,0.52
5,6,대전광역시,0.63,0.93,0.5,0.62,0.68,0.28,0.18,0.47,...,1.18,1.03,0.94,1.13,0.82,1.05,0.84,0.87,0.57,0.15
6,7,울산광역시,0.24,0.41,0.26,0.36,0.42,0.13,0.13,0.03,...,0.47,0.37,0.34,0.66,0.72,0.77,0.70,0.69,0.50,0.27
7,8,세종특별자치시,-,-,-,-,-,-,-,-,...,0.68,0.45,0.22,-0.07,-0.13,-0.19,-0.08,-0.11,-0.67,-1.74
8,9,경기도,-0.06,0.04,0.01,-0.11,-0.48,-0.46,-0.71,-0.49,...,1.28,1.17,1.04,1.92,1.52,1.68,1.55,1.33,0.86,0.34
9,10,강원도,0.13,0.22,0.31,0.19,0.06,0.1,0.29,0.19,...,0.50,0.49,0.40,0.58,0.49,0.59,0.59,0.58,0.56,0.37
10,11,충청북도,0.14,0.38,0.38,0.4,0.42,0.59,0.3,0.27,...,0.56,0.61,0.61,0.94,0.74,0.90,0.91,1.01,0.74,0.39
11,12,충청남도,0.03,0.12,0.12,-0.14,0.13,0.07,-0.04,-0.1,...,0.54,0.63,0.57,0.70,0.63,0.75,0.75,0.89,0.68,0.43
12,13,전라북도,0.28,0.54,0.52,0.47,0.48,0.84,0.92,0.38,...,0.17,0.28,0.32,0.63,0.62,0.65,0.69,0.60,0.52,0.31
13,14,전라남도,0.31,0.42,0.7,0.4,0.33,0.11,0.14,0.09,...,0.18,0.23,0.25,0.42,0.33,0.37,0.39,0.28,0.24,0.18
14,15,경상북도,-0.01,0.02,0.01,-0.05,-0.09,-0.22,-0.31,-0.14,...,0.44,0.43,0.50,0.57,0.42,0.50,0.40,0.46,0.37,0.28
15,16,경상남도,0.19,0.55,0.7,0.66,0.91,0.99,0.52,0.72,...,0.33,0.41,0.41,0.55,0.42,0.59,0.62,0.81,0.74,0.35
16,17,제주특별자치도,0.64,0.26,0.15,0.24,0.28,1.18,0.45,0.09,...,0.10,0.18,0.59,1.34,0.73,0.96,0.85,0.75,0.41,0.21

In [571]:
df = df.rename(columns={'행정구역별(1)' : "시도"})

In [572]:
df = df.replace('-', '0')

In [573]:
df = df.drop(columns=['index'])

In [574]:
df = df.T.reset_index()

In [575]:
df

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,시도,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,0,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,0,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,0,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,0,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [576]:
df = df.rename(columns = df.iloc[0])

In [577]:
df = df.drop([0],axis=0)

In [578]:
df = df.reset_index()

In [579]:
df = df.melt(id_vars=['시도'], value_vars=['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'], var_name='11', value_name='주택가격변동률')

In [580]:
df = df.rename(columns = {'11': '시도', '시도' : '년월'})

In [581]:
df

           년월       시도 주택가격변동률
0     2010.01    서울특별시    0.13
1     2010.02    서울특별시    0.23
2     2010.03    서울특별시    0.07
3     2010.04    서울특별시   -0.02
4     2010.05    서울특별시   -0.25
...       ...      ...     ...
2443  2021.08  제주특별자치도    0.96
2444  2021.09  제주특별자치도    0.85
2445   2021.1  제주특별자치도    0.75
2446  2021.11  제주특별자치도    0.41
2447  2021.12  제주특별자치도    0.21

[2448 rows x 3 columns]

In [582]:
df['년월'] = df['년월'].str.replace('.', '_')

C:\Users\ssh\AppData\Local\Temp\ipykernel_22940\2677420167.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['년월'] = df['년월'].str.replace('.', '_')

In [583]:
df

           년월       시도 주택가격변동률
0     2010_01    서울특별시    0.13
1     2010_02    서울특별시    0.23
2     2010_03    서울특별시    0.07
3     2010_04    서울특별시   -0.02
4     2010_05    서울특별시   -0.25
...       ...      ...     ...
2443  2021_08  제주특별자치도    0.96
2444  2021_09  제주특별자치도    0.85
2445   2021_1  제주특별자치도    0.75
2446  2021_11  제주특별자치도    0.41
2447  2021_12  제주특별자치도    0.21

[2448 rows x 3 columns]

In [584]:
df

           년월       시도 주택가격변동률
0     2010_01    서울특별시    0.13
1     2010_02    서울특별시    0.23
2     2010_03    서울특별시    0.07
3     2010_04    서울특별시   -0.02
4     2010_05    서울특별시   -0.25
...       ...      ...     ...
2443  2021_08  제주특별자치도    0.96
2444  2021_09  제주특별자치도    0.85
2445   2021_1  제주특별자치도    0.75
2446  2021_11  제주특별자치도    0.41
2447  2021_12  제주특별자치도    0.21

[2448 rows x 3 columns]

In [585]:
mask = df['년월'].str.endswith('_1')

In [586]:
df.loc[mask, '년월'] = df.loc[mask, '년월'].str.replace('_1', '_10')

In [587]:
df

           년월       시도 주택가격변동률
0     2010_01    서울특별시    0.13
1     2010_02    서울특별시    0.23
2     2010_03    서울특별시    0.07
3     2010_04    서울특별시   -0.02
4     2010_05    서울특별시   -0.25
...       ...      ...     ...
2443  2021_08  제주특별자치도    0.96
2444  2021_09  제주특별자치도    0.85
2445  2021_10  제주특별자치도    0.75
2446  2021_11  제주특별자치도    0.41
2447  2021_12  제주특별자치도    0.21

[2448 rows x 3 columns]

In [588]:
##년월만들기
df['월'] = df['년월'].str.split('_').str.get(1)
df['연도'] = df['년월'].str.split('_').str.get(0)

In [589]:
df.columns

Index(['년월', '시도', '주택가격변동률', '월', '연도'], dtype='object')

In [590]:
df = df[['년월', '연도','월', '시도', '주택가격변동률']]

In [591]:
df['월'] = df['월'].astype("int64")
df['연도'] = df['연도'].astype("int64")

In [592]:
for i in range(0, 2249, 1):
    if df.loc[i, '월'] == 1:
         df.loc[i, '월'] = '01'
    elif df.loc[i, '월'] == 2:
         df.loc[i, '월'] = '02'
    elif df.loc[i, '월'] == 3:
         df.loc[i, '월'] = '03'
    elif df.loc[i, '월'] == 4:
         df.loc[i, '월'] = '04'
    elif df.loc[i, '월'] == 5:
         df.loc[i, '월'] = '05'
    elif df.loc[i, '월'] == 6:
         df.loc[i, '월'] = '06'
    elif df.loc[i, '월'] == 7:
         df.loc[i, '월'] = '07'
    elif df.loc[i, '월'] == 8:
         df.loc[i, '월'] = '08'
    elif df.loc[i, '월'] == 9:
         df.loc[i, '월'] = '09'

In [593]:
df

           년월    연도   월       시도 주택가격변동률
0     2010_01  2010  01    서울특별시    0.13
1     2010_02  2010  02    서울특별시    0.23
2     2010_03  2010  03    서울특별시    0.07
3     2010_04  2010  04    서울특별시   -0.02
4     2010_05  2010  05    서울특별시   -0.25
...       ...   ...  ..      ...     ...
2443  2021_08  2021   8  제주특별자치도    0.96
2444  2021_09  2021   9  제주특별자치도    0.85
2445  2021_10  2021  10  제주특별자치도    0.75
2446  2021_11  2021  11  제주특별자치도    0.41
2447  2021_12  2021  12  제주특별자치도    0.21

[2448 rows x 5 columns]

In [594]:
# df.to_csv('주택가격변동률_정제완2.csv')

In [595]:
# df_h = pd.read_csv('주택가격변동률_정제완2.csv')
# df_h = df_h.drop(columns=['Unnamed: 0'])

df_usage = pd.read_csv('전력 사용량 14차.csv')
df_usage = df_usage.drop(columns=['Unnamed: 0'])
df_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      2448 non-null   object
 1   연도      2448 non-null   int64
 2   월       2448 non-null   int64
 3   시도      2448 non-null   object
 4   사용량     2448 non-null   int64
dtypes: int64(3), object(2)
memory usage: 95.8+ KB

In [600]:
df['월'] = df['월'].astype("int64")
df['연도'] = df['연도'].astype("int64")

In [601]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       2448 non-null   object
 1   연도       2448 non-null   int64
 2   월        2448 non-null   int64
 3   시도       2448 non-null   object
 4   주택가격변동률  2448 non-null   object
dtypes: int64(2), object(3)
memory usage: 95.8+ KB

In [602]:
pd.merge(df_usage, df)

          년월    연도   월       시도      사용량 주택가격변동률
0    2010_10  2010  10      강원도  1116695    0.06
1    2010_10  2010  10      경기도  6868326   -0.13
2    2010_10  2010  10     경상남도  2428098    0.89
3    2010_10  2010  10     경상북도  3370268     0.1
4    2010_10  2010  10    광주광역시   605233     0.3
..       ...   ...  ..      ...      ...     ...
607  2021_12  2021  12     전라남도  2966246    0.18
608  2021_12  2021  12     전라북도  1864342    0.31
609  2021_12  2021  12  제주특별자치도   473291    0.21
610  2021_12  2021  12     충청남도  4388778    0.43
611  2021_12  2021  12     충청북도  2506864    0.39

[612 rows x 6 columns]